<div class="topPaddingContact container border"> 
	<div class="card">
		<h4 class="card-header">GitHub User Clone</h4>
		<div class="card-body">
			<div class="card">
				<address class="container">
				<p>This is an Angular application that serves as the assignment task. This project is built on Angular for its core functionality and implements bootstrap for its front end css.</p>
				<p> With this project, one is able to view github users and search for github user profiles and lookup their public information such as their profile pictures, names and github repositories.</p>
		   
			   </address>	
			</div>
		</div>
	</div>
</div>
