<!-- <div class="contact-cardBody">
	Do you have a comment? Or just want to say Hi? Contact Me with the follwoing contact details.
	<address class="container">
		 <i class="fa fa-envelope fa-fw"></i> Email : me@peterpolle.co.ke <br>

		 <i class="fa fa-phone fa-fw"></i> Phone : +254 700 000 000<br>

		 <i class="fa fa-phone fa-fw"></i> Landline : +254 020 440 1778<br>

		 <i class="fa fa-map-marker fa-fw"></i> Address: P.O Box 9108 - 00100 Nairobi 
	</address>
</div> -->
<div class="topPaddingContact container border"> 
	<div class="card">
		<h4 class="card-header">Contact Details</h4>
		<div class="card-body">
			<div class="card">
				<address class="container">

					<i class="fa fa-user fa-fw"></i> Name : Amar Khavashi <br>
					
					<i class="fa fa-envelope fa-fw"></i> Email : amarkhavashi29@gmail.com <br>
		   
					<i class="fa fa-phone fa-fw"></i> Phone : 8892312654<br>
		   
					<i class="fa fa-map-marker fa-fw"></i> Lives In : Bangalore<br>
		   
			   </address>	
			</div>
		</div>
	</div>
</div>

