<div class="border container searchPadding">
<form action="">
	<div class="form-group">
		<span><a href='#' (click)="hideAllUserDiv()">Search GitHub User Names</a></span>
		<input type="text" class="form-control" placeholder="Search GitHub" [(ngModel)]="userName" name="userName" (keyup.enter) = "findProfile()">
	</div>
</form>
</div>
<br>
<div class="topPadding container border" *ngIf="allUsersDiv"> 
	<div class="card">
		<h4 class="card-header">List of GitHub Users</h4>
		<div class="card-body">
			<div class="card">
				<ul class="list-group list-group-flush" *ngFor="let items of allUsers">
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-9">
								<div class="col-md-2">
									<img src="{{items.avatar_url}}" alt="" style="height: 70px;width: 7 0px;">
								</div>
								<div class="col-md-3">
									<span>Username</span><br>
									<a href="{{items.html_url}} " target="_blank" class="user-name">{{items.login}}</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class= "topPadding container border" *ngIf = "userDiv">

	  <div class="card">
	  <h5 class="card-header">{{user.name}} <small>({{user.login}})</small></h5>
	  <div class="card-body">
	    <div class="row">
	    	<div class="col-md-4">
	    		
	    		<img src="{{user.avatar_url}}" class="img-thumbnail img-fluid">
	    		<hr>
	    		
	    	    <a href="{{user.html_url}}" class="btn btn-outline-success btn-block" target="_blank"> GitHub Profile</a>
	    	    
	    	</div>
	    	<div class="col-md-2"></div>
	    	<div class="col-md-6">
	    		
		    		<span class="badge badge-primary">{{user.followers}} Followers</span>
					<span class="badge badge-secondary">{{user.following}} Following</span>
					<span class="badge badge-success">{{user.public_gists}} Public Gists</span>
					<span class="badge badge-info">{{user.public_repos}} Public Repos</span>
					<hr>
					
				
	    		<div class="card">
	    		 <ul class="list-group list-group-flush">
				    <li class="list-group-item" *ngIf="user.name">Name: {{user.name}}</li>
				    <li class="list-group-item" *ngIf="user.location">Lives in: {{user.location}}</li>
				    <li class="list-group-item" *ngIf="user.blog">Blog: {{user.blog}}</li>
				    <li class="list-group-item" *ngIf="user.company">Company: {{user.company}}</li>
				 </ul>
				</div>
	    		
	    	</div>
	    </div>
	  </div>
	</div>

	<hr>
	<div class="card">
		<h5 class="card-header">Repos</h5>
		<div class="card-body col-md-12" >
			
				
				<div class="card">
				  <ul class="list-group list-group-flush" *ngFor="let repo of repos">
				    <li class="list-group-item">
				    	<div class="row">
				    		<div class="col-md-9">
								<a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>

								<small>(Created days ago)</small>
								<p>{{repo.description}}</p>
							</div>
							<div class="col-md-3">
								<span class="badge badge-primary">{{repo.watchers}} Watcher</span>
								<span class="badge badge-info">{{repo.forks}} Forks</span>
								<br>
								<a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-info" style="width: 7.5rem">View Repo</a>
							</div>

				    		
				    	</div>
				    	
				    </li>
				  </ul>
				</div>
			</div>
		
	</div>
</div>
